<p id="notice"><%= notice %></p>

<h2><%=@genre.genre_name%></h2>

<ul>
	<% Song.joins(:genre).where('songs.genre_id' => @genre.id).each do |song| %>
		<%artist = Artist.find(song.artist_id)%>
		<li><%=link_to "#{song.song_name}", song%> - <%=link_to "#{artist.artist_name}", artist%></li>
	<%end%>
</ul

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
