<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :song_name %>:
    <%= f.text_field :song_name %><br />

    <!-- should be a field for artist_id -->
    <%= f.label :artist_id %>: 
    <%= f.select :artist_id, Artist.find(:all).collect {|artist| [artist.artist_name, artist.id]}%><br />

    <!-- should be a field for genre_id -->
    <%= f.label :genre_id %>:
    <%= f.select :genre_id, Genre.find(:all).collect {|genre| [genre.genre_name, genre.id]}%><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
